<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Carrito de Compras</title>
</head>

<header>
    <%- include ("../partials/header") %>
</header>
<main>

    <body>
        <div class="products-list">
            <h2>Carrito de compras</h2>
            <% if (cartItems.length==0) { %>
                <article>

                    <section>
                        <div>
                            <h2>
                                Tu carrito de compras está vacio
                            </h2>
                        </div>
                        <br>
                    </section>
                </article>
                <% }else{ %>
                    <% for( let i=0; i < cartItems.length; i++ ) { %>
                        <article>

                            <section>
                                <div>
                                    <h2>
                                        <%= cartItems[i].products.hotel_id %>
                                    </h2>
                                </div>
                                <br>
                                <div>
                                    Tipo de habitación: <%= cartItems[i].products.roomType_id %>
                                </div>
                                <br>
                                <div>
                                    Categoría de Hotel: <%= cartItems[i].products.roomCategory_id %>
                                </div>
                                <br>
                                <div>Tarifa por noche: ARS <%= cartItems[i].products.price %>

                                </div>
                                <br>
                                <div>
                                    <form action="/products/cart/delete/<%= cartItems[i].id %>" method="POST">
                                        <button type="submit" class="button">Eliminar del carrito</button>
                                    </form>
                                </div>
                            </section>
                        </article>
                        <% } %>
                            <% } %>

        </div>
    </body>
</main>
<footer>
    <%- include ("../partials/footer") %>
</footer>

</html>