<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Carrito de Compras</title>
</head>

<header>
    <%- include ("../partials/header") %>
</header>
<main>

    <body>
        <div class="products-list">
            <br><br><br>
            <% if (cartItems.length==0) { %>
                <article>

                    <section>
                        <div>
                            <h4 class="alert alert-danger" role="alert" style="text-align: center;">
                                Tu carrito de compras está vacio
                            </h4>
                        </div>
                        <br>
                    </section>
                </article>
                <% }else{ %>
                    <form action="/products/cart/checkout" method="POST" style="text-align: center;">

                        <div>
                            <h4 class="alert alert-success" role="alert" style="text-align: center;">
                                Carrito de Compras
                            </h4>
                        </div>
                        <button type="submit" class="btn btn-success">Comprar</button>
                    </form>
                    <br>
                    <div class="row">
                        <% for( let i=0; i < cartItems.length; i++ ) { %>

                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= cartItems[i].products.hotel.name %>
                                        </h5>
                                        <p class="card-text">Tipo de habitación: <%= cartItems[i].products.roomType.type
                                                %>
                                                -
                                                Categoría de Hotel: <%= cartItems[i].products.roomCategory.category %> -
                                                    Tarifa Total: ARS <%= cartItems[i].products.price * daysQuantity[i]
                                                        %>
                                        </p>
                                        <p class="card-text">
                                            Fecha de Entrada <%= cartItems[i].inDate %> -
                                                Fecha de Salida <%= cartItems[i].outDate %>
                                        </p>
                                        <form action="/products/cart/delete/<%= cartItems[i].id %>" method="POST">
                                            <button type="submit" class="btn btn-danger">Eliminar del carrito</button>
                                        </form>

                                    </div>

                                </div>
                            </div>
                            <% } %>




                    </div>


                    <% } %>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </body>
</main>
<footer>
    <%- include ("../partials/footer") %>
</footer>

</html>