<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Detalle del producto</title>
        <script src="/js/cartItemValidation.js"></script>
</head>

<header>
    <%- include ("../partials/header") %>
</header>
<main>

    <body>
        <br>
        <div class="products-list">
            <article>
                <section>
                    <img class="imagenofertainicio" src="/images/products/<%= product.hotel.image %>" alt="Foto">

                </section>

                <section>
                    <div>
                        <h2>
                            <%= product.hotel.name %>
                                <% if (product.discount=="true" ) {%>
                                    <img src="/images/sale.png" class="sale" alt="Foto">
                                    <% }%>
                        </h2>
                    </div>
                    <div>
                        <%= product.hotel.description %>
                    </div>
                    <br>
                    <div>
                        Tipo de habitación: <%= product.roomType.type %>
                    </div>
                    <br>
                    <div>
                        Categoria de habitación: <%= product.roomCategory.category %>
                    </div>
                    <br>
                    <div>
                        Categoría de Hotel: <%= product.hotel.hotelCategory_id %>
                    </div>
                    <br>
                    <div>
                        Ciudad: <%= city.city %>
                    </div>
                    <br>
                    <div>Tarifa por noche: ARS <%= product.price %>
                    </div>
                    <br>
                    <div>Descuento: <%= product.discountRate %>%
                    </div>
                    <br>
                    <div>

                        <% if (locals.isLogged && locals.userLogged.role_id==2) { %>
                            <form action="/products/delete/<%= product.id %>" method="POST">
                                <button type="submit" class="button">Eliminar</button>
                            </form>
                            <form action="/products/edit/<%= product.id %>" method="GET">
                                <button type="submit" class="button">Editar</button>
                            </form>
                            <%}else{%>
                                <ul class="errores"></ul>
                                <form action="/products/cart" method="POST" class="formDate">
                                    <label for="inDate">Fecha de Ingreso:</label>
                                    <input type="date" id="inDate" name="inDate">
                                    <label for="outDate">Fecha de Salida:</label>
                                    <input type="date" id="outDate" name="outDate" min="2021-11-01">
                                    <input type="number" id="id" name="id" value="<%= product.id  %>" hidden>
                                    <button type="submit" class="button">Agregar al carrito</button>
                                </form>

                                <%} %>

                    </div>
                </section>
            </article>
        </div>
    </body>
</main>
<footer>
    <%- include ("../partials/footer") %>
</footer>

</html>