<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Detalle del producto</title>
</head>

<header>
    <%- include ("../partials/header") %>
</header>
<main>

    <body>
        <div class="products-list">
            <article>
                <section>
                    <img class="imagenofertainicio" src="/images/products/<%= product.image %>" alt="Foto">

                </section>

                <section>
                    <div>
                        <h2>
                            <%= product.name %>
                                <% if (product.discount=="true" ) {%>
                                    <img src="/images/sale.png" class="sale" alt="Foto">
                                    <% }%>
                        </h2>
                    </div>
                    <div>
                        <%= product.description %>
                    </div>
                    <br>
                    <div>
                        Tipo de habitación: <%= product.room %>
                    </div>
                    <br>
                    <div>
                        Categoría de Hotel: <%= product.category %>
                    </div>
                    <br>
                    <div>
                        Ciudad: <%= product.city %>
                    </div>
                    <br>
                    <div>Tarifa por noche: USD <%= product.price %>
                    </div>
                    <br>
                    <div>

                        <% if (locals.isLogged && locals.userLogged.role==9) { %>
                            <form action="/products/delete/<%= product.id %>" method="POST">
                                <button type="submit" class="button">Eliminar</button>
                            </form>
                            <form action="/products/edit/<%= product.id %>" method="GET">
                                <button type="submit" class="button">Editar</button>
                            </form>
                            <%}else{%>
                                <form action="/products/cart" method="GET">
                                    <button type="submit" class="button">Agregar al carrito</button>
                                </form>

                                <%} %>

                    </div>
                </section>
            </article>
        </div>
    </body>
</main>
<footer>
    <%- include ("../partials/footer") %>
</footer>

</html>