<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Agregar Producto</title>
</head>

<body>
    <header>
        <%- include ("../partials/header") %>
    </header>
    <main>
        <section>
            <form action="/" method="POST" class='form'>
                <h3>Crear Articulo</h3>
                <% if (editInfo.id !=null ) {%>
                    <input type="number" name="id" required placeholder="<%= editInfo.id %>">
                    <br>
                    <input type="text" name="name" required placeholder="<%= editInfo.name %>">
                    <br>
                    <input type="number" name="price" required placeholder="<%= editInfo.price %>">
                    <br>
                    <input type="text" name="room" required placeholder="<%= editInfo.room %>">
                    <br>
                    <input type="text" name="category" required placeholder="<%= editInfo.category %>">
                    <br>
                    <input type="text" name="city" required placeholder="<%= editInfo.city %>">
                    <br>
                    <input type="text" name="description" required placeholder="<%= editInfo.description %>">
                    <br>
                    <input type="file" name="image" accept=".jpg" required placeholder="<%= editInfo.image %>">
                    <br>

                    <% } else { %>
                        <input type="number" name="id" required placeholder="Id">
                        <br>
                        <input type="text" name="name" required placeholder="Nombre del Producto">
                        <br>
                        <input type="number" name="price" required placeholder="Precio">
                        <br>
                        <input type="text" name="room" required placeholder="Tipo de habitación">
                        <br>
                        <input type="text" name="category" required placeholder="Categoria">
                        <br>
                        <input type="text" name="city" required placeholder="Ciudad">
                        <br>
                        <input type="text" name="description" required placeholder="Descripción">
                        <br>
                        <input type="file" name="image" accept=".jpg" required placeholder="Imagen">
                        <br>
                        <% } %>
                            <button type="submit">Crear</button>
            </form>
        </section>
    </main>
    <footer>
        <%- include ("../partials/footer") %>
    </footer>

</body>

</html>