<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Agregar Producto</title>
</head>

<body>
    <header>
        <%- include ("../partials/header") %>
    </header>
    <main>
        <section>
            <% if (product !=undefined ) {%>
                <form action="/products/edit/<%=product.id%>?_method=PUT" method="POST" class='form'>
                    <h3>Editar Articulo</h3>

                    <select name="hotel_id" id="hotel_id" required>

                        <option value="<%= hotels.id %>" selected>
                            <%= hotels.name %>
                        </option>


                    </select>
                    <select name="roomType_id" id="roomType_id" required>
                        <option disabled> -- Seleccione tipo de habitaci贸n -- </option>
                        <% for( let i=0; i < types.length; i++ ) { %>

                            <option value="<%= types[i].id %>" <%=types[i].type==product.roomType.type ? 'selected' :
                                null %> >
                                <%= types[i].type %>
                            </option>
                            <% } %>

                    </select>
                    <select name="roomCategory_id" id="roomCategory_id" required>
                        <option disabled> -- Seleccione categoria de habitaci贸n -- </option>
                        <% for( let i=0; i < categories.length; i++ ) { %>

                            <option value="<%= categories[i].id %>"
                                <%=categories[i].category==product.roomCategory.category ? 'selected' : null %> >
                                <%= categories[i].category %>
                            </option>
                            <% } %>

                    </select>

                    <input type="number" name="price" required placeholder="Precio" value="<%= product.price %>">

                    <input type="text" name="discountRate" required placeholder="Descuento"
                        value="<%= product.discountRate %>">

                    <button type="submit">Editar</button>
                </form>
                <% } else { %>
                    <form action="/products/store" method="POST" enctype="multipart/form-data" class="form">
                        <h3>Crear Articulo</h3>
                        <select name="hotel_id" id="hotel_id" required>
                            <option disabled selected> -- Seleccione un hotel -- </option>
                            <% for( let i=0; i < hotels.length; i++ ) { %>
                                <option value="<%= hotels[i].id %>">
                                    <%= hotels[i].name %>
                                </option>
                                <% } %>

                        </select>
                        <select name="roomType_id" id="roomType_id" required>
                            <option disabled selected> -- Seleccione tipo de habitaci贸n -- </option>
                            <% for( let i=0; i < types.length; i++ ) { %>
                                <option value="<%= types[i].id %>">
                                    <%= types[i].type %>
                                </option>
                                <% } %>

                        </select>
                        <select name="roomCategory_id" id="roomCategory_id" required>
                            <option disabled selected> -- Seleccione categoria de habitaci贸n -- </option>
                            <% for( let i=0; i < categories.length; i++ ) { %>
                                <option value="<%= categories[i].id %>">
                                    <%= categories[i].category %>
                                </option>
                                <% } %>

                        </select>
                        <input type="number" name="price" required placeholder="Precio">
                        <input type="text" name="discountRate" required placeholder="Descuento">
                        <!-- <input type="file" name="image" accept=".jpg" required placeholder="Imagen"> -->
                        <button type="submit">Crear</button>
                    </form>
                    <% } %>

                        </form>
        </section>
    </main>
    <footer>
        <%- include ("../partials/footer") %>
    </footer>

</body>

</html>