<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Agregar Producto</title>
</head>

<body>
    <header>
        <%- include ("../partials/header") %>
    </header>
    <main>
        <section>
            <% if (productToEdit !=undefined ) {%>
                <form action="/products/edit/<%=productToEdit.id%>?_method=PUT" method="POST" class='form'>
                    <h3>Editar Articulo</h3>
                    <input type="text" name="name" required placeholder="Nombre del Producto"
                        value="<%= productToEdit.name %>">
                    <br>
                    <input type="number" name="price" required placeholder="Precio" value="<%= productToEdit.price %>">
                    <br>
                    <input type="text" name="room" required placeholder="Tipo de habitaci贸n"
                        value="<%= productToEdit.room %>">
                    <br>
                    <input type="text" name="category" required placeholder="Categoria"
                        value="<%= productToEdit.category %>">
                    <br>
                    <input type="text" name="city" required placeholder="Ciudad" value="<%= productToEdit.city %>">
                    <br>
                    <input type="text" name="description" required placeholder="Descripci贸n"
                        value="<%= productToEdit.description %>">
                    <br>
                    <input type="text" name="discount" required placeholder="Descuento"
                        value="<%= productToEdit.discount %>">
                    <br>
                    <img src="/images/products/<%= productToEdit.image%>" alt="">
                    <input type="file" name="image" accept=".jpg">
                    <br>
                    <button type="submit">Editar</button>
                </form>
                <% } else { %>
                    <form action="/products/store" method="POST" enctype="multipart/form-data" class="form">
                        <h3>Crear Articulo</h3>
                        <input type="text" name="name" required placeholder="Nombre del Producto">
                        <input type="number" name="price" required placeholder="Precio">
                        <input type="text" name="room" required placeholder="Tipo de habitaci贸n">
                        <input type="text" name="category" required placeholder="Categoria">
                        <input type="text" name="city" required placeholder="Ciudad">
                        <input type="text" name="description" required placeholder="Descripci贸n">
                        <input type="text" name="discount" required placeholder="Descuento">
                        <input type="file" name="image" accept=".jpg" required placeholder="Imagen">
                        <button type="submit">Crear</button>
                    </form>
                    <% } %>

                        </form>
        </section>
    </main>
    <footer>
        <%- include ("../partials/footer") %>
    </footer>

</body>

</html>