<!DOCTYPE html>
<html>

<head>
    <%- include ("./partials/head") %>
        <title>Digital Travel</title>
</head>

<body>
    <header>
        <%- include ("./partials/header") %>
    </header>
    <main class="homeMain">
        <div>
            <form action="/products" method="POST" class="formHome">
                <input class="" type="text" name="search" required placeholder="¿A donde quiere ir?"
                    style="text-align: center;">
                <br>
                <button type="submit">Buscar</button>
            </form>
        </div>

        <div class="carousel">
            <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel"
                style="padding-right: 100px; padding-left: 100px;">
                <div class="carousel-indicators">
                    <% for( let i=0; i < discountProducts.length; i++ ) { %>
                        <% if (i==0) { %>
                            <button type="button" data-bs-target="#carouselFade" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <% }else{ %>
                                <button type="button" data-bs-target="#carouselFade" data-bs-slide-to="<%= i %>"
                                    aria-label="Slide <%= i+1 %> "></button>
                                <% } %>
                                    <% } %>
                </div>
                <div class="carousel-inner">

                    <% for( let i=0; i < discountProducts.length; i++ ) { %>
                        <% if (i==0) { %>

                            <div class="carousel-item active" data-bs-interval="2000">
                                <a href="/products/detail/<%= discountProducts[i].hotel.id %>"><img
                                        src="/images/products/<%= discountProducts[i].hotel.image %>"
                                        alt="<%= discountProducts[i].name %>" class="d-block w-100">
                                </a>
                                <div class="carousel-caption d-none d-md-block"
                                    style=" color:rgb(179, 42, 42); background-color: rgba(255, 255, 255, 0.783);">
                                    <p style="font-weight: bold;">
                                        <%= discountProducts[i].hotel.name %>
                                    </p>
                                </div>
                            </div>

                            <% }else{ %>
                                <div class="carousel-item">
                                    <a href="/products/detail/<%= discountProducts[i].hotel.id %>"><img
                                            src="/images/products/<%= discountProducts[i].hotel.image %>"
                                            alt="<%= discountProducts[i].name %>" class="d-block w-100"></a>
                                    <div class="carousel-caption d-none d-md-block "
                                        style="color:rgb(179, 42, 42); background-color: rgba(255, 255, 255, 0.783);">
                                        <p style="font-weight: bold;">
                                            <%= discountProducts[i].hotel.name %>
                                        </p>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>




                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>

                </button>
            </div>

        </div>
    </main>
    <footer>
        <%- include ("./partials/footer") %>
    </footer>

</body>


</html>