<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Perfil - Digital Travel</title>
</head>

<body>

    <header>
        <%- include ("../partials/header") %>
    </header>
    <main>
        <section>
            <form action="/login" method="POST" class="form">
                <h2>Bienvenido <%= user.firstName %>
                </h2>
                <img src="/images/users/<%= user.image %>" alt="Imagen de usuario"
                    style="width: 30%; border-radius: 200px;">
                <div>
                    <%= user.email %>
                </div>

            </form>
        </section>

    </main>


    <footer>

        <%- include ("../partials/footer") %>
    </footer>
</body>

</html>