<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Registrate - Digital Travel</title>
</head>

<body style="background-color: #000000;">

    <main>
        <section class="registerSection">
            <form action="/register" method="POST" enctype="multipart/form-data" class="form"
                style="background-color: #ffffff; border-radius: 100px;">
                <a href="/"><img src="/images/logoavion.png" alt="Logo Digital Travel" class="logo"></a>
                <h3>Digital Travel</h3>
                <br>
                <% if (locals.errors && errors.firstName) { %>
                    <div class="formError">
                        <%= errors.firstName.msg %>
                            <i class="fas fa-exclamation" style="font-size: 20px; margin-left: 5px;"></i>
                    </div>
                    <% } %>
                        <input type="text" name="firstName" placeholder="Nombre"
                            class="form-control <%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.firstName : null %>">

                        <% if (locals.errors && errors.lastName) { %>

                            <div class="formError">
                                <%= errors.lastName.msg %>
                                    <i class="fas fa-exclamation" style="font-size: 20px; margin-left: 5px;"></i>
                            </div>
                            <% } %>
                                <input type="text" name="lastName" placeholder="Apellido"
                                    class="form-control <%= locals.errors && errors.lastName ? 'is-invalid' : null %>"
                                    value="<%= locals.oldData ? oldData.lastName : null %>">

                                <% if (locals.errors && errors.email) { %>
                                    <div class="formError">
                                        <%= errors.email.msg %>
                                            <i class="fas fa-exclamation"
                                                style="font-size: 20px; margin-left: 5px;"></i>
                                    </div>
                                    <% } %>
                                        <input type="email" name="email" placeholder="E-mail"
                                            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                                            value="<%= locals.oldData ? oldData.email : null %>">
                                        <% if (locals.errors && errors.password) { %>
                                            <div class="formError">
                                                <%= errors.password.msg %>
                                                    <i class="fas fa-exclamation"
                                                        style="font-size: 20px; margin-left: 5px;"></i>
                                            </div>
                                            <% } %>
                                                <input type="password" name="password" placeholder="Contraseña"
                                                    class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                                                <% if (locals.errors && errors.repassword) { %>
                                                    <div class="formError">
                                                        <%= errors.repassword.msg %>
                                                            <i class="fas fa-exclamation"
                                                                style="font-size: 20px; margin-left: 5px;"></i>
                                                    </div>
                                                    <% } %>
                                                        <input type="password" name="repassword"
                                                            placeholder="Confirmar Contraseña"
                                                            class="form-control <%= locals.errors && errors.repassword ? 'is-invalid' : null %>">
                                                        <% if (locals.errors && errors.image) { %>
                                                            <div class="formError">
                                                                <%= errors.image.msg %>
                                                                    <i class="fas fa-exclamation"
                                                                        style="font-size: 20px; margin-left: 5px;"></i>
                                                            </div>
                                                            <% } %>
                                                                <input type="file" name="image" accept=".jpg"
                                                                    placeholder="Imagen de perfil">
                                                                <button type="submit">Registrarse</button>
                                                                <button type="reset">Borrar</button>
            </form>
        </section>
    </main>

</body>

</html>