<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
        <title>Listado de Usuarios</title>
</head>

<header>
    <%- include ("../partials/header") %>
</header>
<main>

    <body>
        <div class="products-list">
            <% for( let i=0; i < users.length; i++ ) { %>
                <article>
                    <section>
                        <img class="imagenofertainicio" src="/images/users/<%= users[i].image %>" alt="Foto"
                            style="width: 30%">

                    </section>

                    <section>
                        <div>
                            <h2>
                                <%= users[i].firstName %>
                                    <%= users[i].lastName %>
                            </h2>
                        </div>
                        <br>
                        <div>
                            ID: <%= users[i].id %>
                        </div>
                        <div>
                            Email: <%= users[i].email %>
                        </div>
                        <div>
                            Rol: <%= users[i].role_id==2 ? 'Administrador' : 'Usuario' %>
                        </div>
                        <div>
                            Creado: <%= users[i].created_at %>
                        </div>
                        <br>
                        <br>
                        <div>

                            <form action="/admin/users/delete/<%= users[i].id %>" method="POST">
                                <button type="submit" class="button">Eliminar</button>
                            </form>
                            <form action="/admin/users/<%= users[i].id %>" method="GET">
                                <button type="submit" class="button">Editar</button>
                            </form>
                            <!--

                            
                            <% if (locals.isLogged && locals.userLogged.role==9) { %>
                                <form action=" /products/delete/<%=products[i].id %>" method="POST">
                        <button type="submit" class="button">Eliminar</button>
                        </form>
                        <form action="/products/edit/<%= products[i].id %>" method="GET">
                            <button type="submit" class="button">Editar</button>
                        </form>
                        <%}else{%>
                            <form action="/products/cart" method="GET">
                                <button type="submit" class="button">Agregar al carrito</button>
                            </form>

                            <%} %>
                                -->
                        </div>
                    </section>
                </article>
                <% } %>

        </div>
    </body>
</main>
<footer>
    <%- include ("../partials/footer") %>
</footer>

</html>